@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url(./dark_mode.css);
@import url(./button.css);
@import url(./dropdown.css);
@import url(./loading.css);
@import url(./hamburger.css);
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--bg-99);
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}
:root {
  --bg-0e: #0f0e0e;
  --bg-15: #151515;
  --bg-19: #191919;
  --bg-24: #242424;
  --bg-34: #343434;
  --bg-99: #999;
  --bg-9d: #9d9d9d;
  --bg-f33: #ffffff33;
  --bg-f50: #dcff50;
  --bg-f66: #ffffff66;
  --bg-f73: #e3ff73;
  --bg-f96: #eaff96;
  --bg-f99: #ffffff99;
  --bg-header: #0f0e0e;
  --blend-mode: lighten;
  --liner-1: rgba(255, 255, 255, 0) 29.27%;
  --liner-2: rgba(255, 255, 255, 0.4) 57.71%;
  --white: #fff;
  --trans-o3: all 0.3;
  --trans-04: all 0.4;
  --trans-05: all 0.5;
  --bg-yellov: rgb(186, 177, 183);
}

.navbar-shrink {
  background: rgb(14, 14, 14);
  padding: 40px 0;
  transition: 0.5s;
}
.nav-logo {
  width: 19.92px;
  height: 19.92px;
  border: 3px solid var(--white);
}
header {
  width: 100%;
  background-color: var(--bg-24);
  position: sticky;
  top: 0;
  z-index: 111111;
}
.nav-logo-name {
  color: var(--white);
}
.nav-brand {
  padding: 14px 0 14px 0;
  display: flex;
  align-items: center;
  gap: 4px;
}
.nav_hamburger {
  display: flex;
  justify-content: space-between;
}
nav {
  display: flex;
  justify-content: space-between;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 23px;
}
.nav-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px 8px 10px 8px;
  width: 112px;
  height: 28px;
  border-radius: 4px;
  background-color: #eaff96;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.nav-btn a {
  color: var(--bg-0e);
}
/* ****************************SEKTION**************************** */
section {
  background-color: var(--bg-0e);
  width: 100%;
  height: 100%;
}
.section-img {
  padding-top: 100px;
}
.section-image {
  width: 100%;
}
.section-text-menu {
  padding-top: 152px;
  color: var(--white);
  margin: 0 auto;
  width: 243px;
  height: 38px;
  font-size: 35px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.949999988079071px;
}
.section-text-menu-h5 {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  color: var(--white);
  max-width: 668px;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 1.600000023841858px;
}
.one-h5 {
  margin-top: 16px;
}
.section-text-one-p {
  margin-top: 31px;
}
.section-text-p {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-99);
  max-width: 422px;
  height: 24px;
  font-size: 17px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: center;
}
.section-link-menu {
  border-bottom: 2px solid var(--white);
  margin: 0 auto;
  max-width: 700px;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.section-link-menu a:hover {
  border-bottom: 3px solid var(--white);
}
.section-link-menu-p {
  padding-top: 46px;
  max-width: 603px;
  height: 58px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  color: var(--white);
  margin: 0 auto;
  text-align: center;
}
.section_vs_code_img {
  margin-top: 131px;
}
.section_code-svg {
  width: 100%;
}
.ios_apple_svg {
  margin-top: 406px;
}
.ios__img {
  width: 100%;
}
.sandbox__svg {
  width: 100%;
}
.text_code_for_ios {
  margin: 33px auto;
  max-width: 438px;
  height: 39px;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.73px;
  letter-spacing: 1.899999976158142px;
  text-align: center;
  color: var(--white);
}
.section_text-h5 {
  text-align: center;
  color: var(--white);
  font-size: 104px;
  font-weight: 400;
  line-height: 104px;
  letter-spacing: 2.5999999046325684px;
}
.section_text-p {
  margin: 39px auto;
  text-align: center;
  max-width: 434px;
  height: 58px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  color: var(--bg-99);
}
.section_text-btn {
  display: block;
  margin: 26px auto;
  width: 93px;
  height: 29px;
  font-size: 17px;
  font-weight: 400;
  line-height: 28.8px;
  color: var(--bg-f50);
}
.section_box-imgs {
  position: relative;
  z-index: 1;
}
.pupil_images {
  position: absolute;
  z-index: 2;
}
.pupil_1_img {
  position: absolute;
  z-index: 3;
  bottom: 150px;
  left: 150px;
}
.pupil_2_img {
  position: absolute;
  z-index: 3;
  bottom: 150px;
  left: -20px;
}
.pupil_4_img {
  position: absolute;
  z-index: 3;
  bottom: 170px;
  left: 850px;
}
.pupil_5_img {
  position: absolute;
  z-index: 3;
  bottom: 170px;
  left: 1100px;
}
.pupil_6_img {
  position: absolute;
  z-index: 3;
  left: 1100px;
}
.pupil_3_img {
  position: absolute;
  z-index: 3;
  left: -20px;
}
/* ****************cards__js__dev***************** */
.text__code_h5 {
  margin: 0 auto;
  text-align: center;
  max-width: 500px;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 1.2000000476837158px;
  text-align: center;
  color: var(--white);
}
.text__code__p {
  padding-top: 28px;
  margin: 0 auto;
  max-width: 450px;
  font-size: 17px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: center;
  color: var(--bg-99);
}
.cards__js__dev {
  background-color: var(--bg-0e);
  width: 100%;
  height: 100%;
}
.dev_card {
  width: 341px;
  height: 432px;
  border-radius: 4px;
  background-color: var(--bg-15);
}
.dev_card_1 {
  padding-top: 80px;
}
.card_js_1 {
  width: 100%;
  padding: 64px 120px 15px 121px;
}
.dev_text_h5 {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: 0.30000001192092896px;
  width: 212px;
  height: 29px;
  color: var(--white);
}
.dev_text_p {
  margin: 0 auto;
  text-align: center;
  padding-top: 18px;
  width: 203px;
  height: 77px;
  font-size: 15px;
  font-weight: 400;
  line-height: 25.6px;
  color: var(--bg-99);
}
.dev_cards_1 {
  display: flex;
  gap: 38px;
}
.card_name_2_h2 {
  padding-top: 315px;
  margin: 0 auto;
  max-width: 500px;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 1.2000000476837158px;
  text-align: center;
  color: var(--white);
}
.dev_card_2 {
  margin-top: 85px;
  width: 341px;
  height: 412px;
  border-radius: 4px;
  background-color: var(--bg-0e);
}
.dev_2_text_h5 {
  padding-top: 15px;
  margin: 0 auto;
  width: 200px;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: 0.30000001192092896px;
  text-align: center;
  color: var(--white);
}
.dev_cards_2 {
  display: flex;
  gap: 38px;
}
.card_name_3_h2 {
  text-align: center;
  margin: 0 auto;
  margin-top: 396px;
  color: var(--white);
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 1.2000000476837158px;
  max-width: 553px;
  height: 48px;
}
.card_its-commandy {
  width: 341px;
  height: 404px;
  border-radius: 4px;
  background-color: var(--bg-15);
}

.card_3_p_1 {
  padding-top: 67px;
  margin: 0 auto;
  width: 202px;
  height: 87px;
  font-size: 17px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: center;
  color: var(--white);
}
.card_3_brain-img {
  position: relative;
  z-index: 1000;
  top: 80px;
  left: 125px;
}
.card_3_react-img {
  position: relative;
  z-index: 20000;
  top: 80px;
  right: 20px;
  left: 100px;
}
.card_3_p_3 {
  padding-top: 120px;
  margin: 0 auto;
  width: 120px;
  height: 29px;
  font-size: 17px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: center;
  color: var(--white);
}
.card_3_p_4 {
  padding-top: 40px;
  margin: 0 auto;
  width: 195px;
  height: 42px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: center;
  color: var(--bg-99);
}
.cards_3 {
  margin-top: 85px;
  display: flex;
  gap: 38px;
}
/* *****************MAIN**************** */
main {
  background-color: var(--bg-header);
}
.main_h3_text {
  margin: 0 auto;
  padding-top: 343px;
  max-width: 486px;
  height: 458px;
  font-size: 47px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 1.2000000476837158px;
  text-align: center;
  color: var(--white);
}
.main_P_text {
  padding-top: 60px;
  max-width: 420px;
  margin: 0 auto;
  font-size: 17px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: center;
  color: var(--bg-99);
}
.main_btns {
  margin-top: 28px;
  display: flex;
  justify-content: center;
}
#hamburger {
  margin-top: 10px;
}
.main_btn {
  border: none;
  width: 177px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--bg-f96);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}
.main_images {
  margin: 0 auto;
  display: flex;
  position: relative;
}
.main_1_svg {
  position: relative;
  z-index: 2;
}
.main_2_svg {
  position: absolute;
  z-index: 3;
  left: 230px;
  bottom: 20px;
}
.main_3_svg {
  position: absolute;
  z-index: 4;
  left: 500px;
  top: 10px;
}

.main_4_svg {
  position: absolute;
  z-index: 5;
  left: 750px;
  top: 20px;
}
.main {
  width: 100%;
  height: 100%;
  border: 1px solid var(--bg-34);
}
/* ****************FOOTER******************* */
.footer_menu {
  padding-top: 100px;
  display: flex;
  gap: 110px;
}

footer {
  background-color: var(--bg-0e);
}
.menu_name {
  width: 73px;
  height: 23px;
  font-size: 19px;
  font-weight: 400;
  line-height: 23px;
  color: var(--white);
}

.footer_menu_link {
  margin-top: 10px;
}
.footer_icons {
  padding-top: 133px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer_web_last_ago {
  padding-top: 11px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: center;
  color: var(--bg-99);
}
@media (max-width: 1340px) {
  .pupil_images {
    display: none;
  }
}
@media (max-width: 1145px) {
  .dev_cards_1 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main_4_svg {
    position: static;
  }
  .main_1_svg {
    display: none;
  }
  .main_2_svg {
    display: none;
  }
  .main_3_svg {
    display: none;
  }
  .main_images {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards_3 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .dev_cards_2 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 1100px) {
  .nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  .nav-brand {
    margin: 0 auto;
  }
}
@media (max-width: 900px) {
  #hamburger {
    display: flex !important;
  }
  .nav-menu {
    display: none !important;
  }
  .active {
    display: flex !important;
  }
  .footer_menu {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 520px) {
  .section_text-h5 {
    font-size: 64px;
    font-weight: 400;
    line-height: 74px;
  }
  .text__code_h5 {
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
  }
}
@media (max-width: 470px) {
  .text__code_h5 {
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
  }
  .section-link-menu {
    flex-wrap: wrap;
  }
}
@media (max-width: 440px) {
  .nav-menu {
    flex-direction: column;
    justify-content: center;
  }
  .section-text-menu-h5 {
    font-size: 44px;
    font-weight: 400;
    line-height: 44px;
  }
}
@media (max-width: 370px) {
  .dev_card {
    width: 300px;
  }
  .card_its-commandy {
    width: 300px;
  }
  .main_4_svg {
    width: 100%;
  }
}
@media (max-width: 390px) {
  .text_code_for_ios {
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
  }
  .card_name_3_h2 {
    font-size: 38px;
    font-weight: 400;
    line-height: 38px;
  }
  .card_name_2_h2 {
    font-size: 38px;
    font-weight: 400;
    line-height: 38px;
  }
}
@media (max-width: 350px) {
  .section_text-h5 {
    font-size: 54px;
    font-weight: 400;
    line-height: 54px;
  }
}
